<div class="text-center d-flex justify-content-center">
  <div class="m-3 col-md-6">
    <h1 class="container mt-3 mx-5">Add your sheep to the flock:</h1>
      <%= simple_form_for [@sheep] do |f| %>
        <div class="form-inputs">
          <%= f.input :name, placeholder: 'Name', label:false, input_html: { class: 'form-control' }%>
          <%= f.input :photo, as: :file, placeholder: 'Upload your image here', label:false, input_html: { class: 'form-control' } %>
          <%= f.input :location, placeholder: 'Location', label:false, input_html: { class: 'form-control' } %>
          <%= f.input :description, placeholder: 'Add a description of your sheep here...', label:false, input_html: { class: 'form-control' } %>
          <%= f.input :weight, placeholder: 'Weight (kg)', label:false, input_html: { class: 'form-control' } %>
          <%= f.input :breed, placeholder: 'Breed', label:false, input_html: { class: 'form-control' } %>
          <%= f.input :day_rate, placeholder: 'Price per day (£)', label:false, input_html: { class: 'form-control' } %>
          <%= f.submit 'Add your sheep', class: 'btn btn-leaf' %>
        </div>
      <% end %>
  </div>
</div>
