
<h2><%= @sheep.name %></h2>
<%= image_tag(@sheep.image_url) %>
<p><%= @sheep.location %></p>
<p><%= @sheep.description %></p>
<p><%= @sheep.weight %></p>
<p><%= @sheep.breed%></p>
<p><%= @sheep.day_rate%></p>
