
<div class="container">
  <div class="d-flex justify-content-evenly">
    <div class="show_card">
      <div class= "text-center title">
      <h2><%= @sheep.name %></h2>
      <h4><%= @sheep.breed%> breed</h4>
      <%= image_tag(@sheep.image_url, class: "show_image" )  %>
      </div>
      <div class="d-flex p-2 justify-content-evenly">
        <div class= "text-center title">
          <h5>Location:</h5>
          <p><%= @sheep.location %></p>
        </div>
        <div class= "text-center title">
          <h5>Weight:</h5>
          <p><%= @sheep.weight %> kg</p>
        </div>
        <div class= "text-center title">
          <h5>Price per day:</h5>
          <p>£ <%= @sheep.day_rate%></p>
        </div>
      </div>
      <div class="about_me">
        <h5>About Me: </h5>
        <p><%= @sheep.description %></p>
      </div>
      <div class="d-flex justify-content-evenly my-3">
        <%= link_to "Sheep List", sheep_index_path, class: "btn btn-leaf" %>
      </div>
    </div>

    <div class="show_card px-4">
      <div class="card-contents">
      <div>
        <h1 class= "text-center title text-margin">Book Your Sheep Experience</h1>
      </div>
      <div class="form-space">
      <% if @sheep.bookings.where(user: current_user).empty? %>
        <%= simple_form_for [@sheep, @booking] do |f| %>
          <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } ,class: 'form-control box-position'} %>
          <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } ,class: 'form-control box-position'} %>
          <div class= "text-center title">
            <h4>Price per day: £ <%=@sheep.day_rate %></h4>
          </div>
          <div class="d-flex justify-content-evenly my-3">
            <%= f.submit 'Book Now', class: 'btn btn-leaf' %>
          </div>
        <% end %>
        </div>
      <% else %>
        <div class= "text-center title">
          <p>You have a current booking. </p>
          <%= link_to "Bookings", my_profile_path, class: "btn btn-leaf" %>
      <% end %>
        </div>
    </div>
  </div>
</div>
