<h1>Sheep Details</h1>
<h2><%= @sheep.name %></h2>
<p><%= @sheep.image_url %></p>
<p><%= @sheep.location %></p>
<p><%= @sheep.description %></p>
<p><%= @sheep.weight %></p>
<p><%= @sheep.breed%></p>
<p><%= @sheep.day_rate%></p>
